.lb-loader, .lightbox {
    text-align: center;
    line-height: 0
}

.icon, .icon:before {
    text-transform: none;
    text-decoration: none
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzNqQynqKV_9Plp7mupa0S4g.ttf) format('truetype')
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v9/0ihfXUL2emPh0ROJezvraKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

body:after {
    content: url(img/lightbox/close.png) url(img/lightbox/loading.gif) url(img/lightbox/prev.png) url(img/lightbox/next.png);
    display: none
}

.lb-dataContainer:after, .lb-outerContainer:after {
    content: "";
    clear: both
}

body.lb-disable-scrolling {
    overflow: hidden
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff
}

.lb-loader, .lb-nav {
    position: absolute;
    left: 0
}

.lb-outerContainer:after {
    display: table
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(img/lightbox/loading.gif) no-repeat
}

.lb-nav {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container > .nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next, .lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(img/lightbox/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(img/lightbox/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    display: table
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-caption a {
    color: #4ae
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(img/lightbox/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    transition: opacity .2s
}

.button, .icon, .logo-and-title {
    display: inline-block
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

@font-face {
    font-family: Icons;
    src: url(fonts/icons/Icons.eot);
    src: url(fonts/icons/Icons.eot@) format('embedded-opentype'), url(fonts/icons/Icons.woff) format('woff'), url(fonts/icons/Icons.ttf) format('truetype')
}

@font-face {
    font-family: Icons;
    src: url(fonts/icons/Icons.eot);
    src: url(fonts/icons/Icons.eot@) format('embedded-opentype'), url(fonts/icons/Icons.woff) format('woff'), url(fonts/icons/Icons.ttf) format('truetype')
}

.icon {
    font: normal normal normal 14px/1 Icons;
    font-size: inherit;
    text-rendering: auto;
    vertical-align: baseline
}

.icon:before {
    font-family: Icons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400
}

.icon-envelope:before {
    content: "\E001"
}

.icon-facebook-square:before {
    content: "\E002"
}

.icon-heart:before {
    content: "\E003"
}

.icon-phone:before {
    content: "\E004"
}

.icon-twitter-square:before {
    content: "\E005"
}

.icon-twitter:before {
    content: "\E006"
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px
}

h1 {
    font-size: 42px;
    font-weight: 700
}

h2 {
    font-size: 31px
}

a {
    color: #00a4a2;
    transition: color .3s ease
}

a:hover {
    color: #007170
}

.navbar {
    border: 0;
    margin-bottom: 70px
}

.navbar-toggle {
    border: 1px solid #f8cd59
}

.navbar-toggle .icon-bar {
    background: #f8cd59
}

.navbar-nav li a, .navbar-nav li > div {
    padding: 15px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer
}

.navbar-nav li a:focus, .navbar-nav li a:hover, .navbar-nav li > div:focus, .navbar-nav li > div:hover {
    background: 0 0;
    color: #f8cd59
}

.navbar-nav li a:active, .navbar-nav li > div:active {
    color: #f6be28
}

.logo-and-title__logo {
    float: left;
    width: 49px;
    height: 55px;
    margin-right: 10px
}

.logo-and-title__title {
    display: inline-block;
    margin: 0;
    color: #00a4a2;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px
}

.button, input {
    font-size: 15px;
    height: 40px
}

.button {
    padding: 9px 10px;
    border: 1px solid #00a4a2;
    border-bottom: 3px solid #00a4a2;
    border-radius: 4px;
    background: 0 0;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer
}

.button:focus, .button:hover {
    background: #00a4a2;
    color: #fff;
    text-decoration: none
}

.button--wide {
    padding: 12px 30px
}

.button--full {
    width: 100%
}

.button--highlighted {
    border: none;
    border-bottom: 3px solid #fca243;
    background: #f8cd59
}

.button--highlighted:focus, .button--highlighted:hover {
    background: #ffd052
}

input {
    box-shadow: none
}

input::-webkit-input-placeholder {
    color: #b5b5b5;
    text-transform: uppercase
}

input::-moz-placeholder {
    color: #b5b5b5;
    text-transform: uppercase
}

input:-ms-input-placeholder {
    color: #b5b5b5;
    text-transform: uppercase
}

input::placeholder {
    color: #b5b5b5;
    text-transform: uppercase
}

input.form-control {
    height: 40px;
    border: 0;
    padding: 6px 15px;
    box-shadow: none
}

.disturbance h2, .how-it-works h2, .papers h2 {
    border-bottom: 1px solid #b5b5b5
}

.screenshots {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.screenshots a {
    display: block;
    float: left;
    height: 150px
}

.lightbox__item {
    display: inline-block;
    margin: 0 30px;
    opacity: .8
}

.lightbox__item:hover {
    opacity: 1
}

.lightbox__item:hover .lightbox__desc {
    display: block
}

.lightbox__item img {
    width: 140px;
    height: 100px;
    margin-bottom: 13px
}

.lightbox__desc {
    display: none;
    background-color: #414141;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px
}

.language-switcher, .papers__number {
    line-height: 60px;
    display: inline-block
}

.language-switcher a {
    color: #f3f3f3
}

.section-head {
    padding: 20px 0;
    background: url(img/section-head.bg.jpg) no-repeat #00605f;
    background-size: cover;
    text-align: center
}

.section-head__main-title {
    margin-bottom: 45px
}

.section-head__description {
    margin-bottom: 50px;
    color: #f3f3f3;
    font-size: 18px
}

.section-head__call-to-action {
    margin-bottom: 40px
}

.section-head__video {
    max-width: 560px;
    margin: 0 auto 40px
}

.section-head__videowrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px
}

.section-head__videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.testimonials {
    padding: 20px 0 40px;
    background-color: #00a4a2;
    color: #fff
}

.testimonials .testimonial {
    padding: 0 100px 0 50px
}

.testimonials .testimonial__story {
    margin: 15px 0 30px;
    text-align: right;
    font-size: 16px;
    font-style: italic
}

.testimonials .testimonial__person {
    text-align: right
}

.testimonials .testimonial__person-name-job {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right
}

.testimonials .testimonial__person-name {
    font-size: 17px;
    font-weight: 700
}

.testimonials .testimonial__person-job {
    font-size: 14px
}

.testimonials .testimonial__person-photo {
    display: inline-block;
    margin-right: 15px
}

.testimonials .testimonial__person-photo img {
    max-height: 80px
}

.how-it-works {
    padding: 20px 0 50px;
    background-color: #f3f3f3;
    color: #4d4d4d;
    text-align: center
}

.how-it-works h2 {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 50px 8px;
    color: #000;
    text-align: center
}

.how-it-works__desc-image {
    max-width: 100%;
    height: 400px
}

.how-it-works__category {
    margin-bottom: 20px
}

.disturbance h2, .how-it-works__item {
    margin-bottom: 30px
}

.disturbance {
    padding: 20px 0 50px;
    background-color: #f3f3f3;
    color: #4d4d4d;
    text-align: center
}

.disturbance h2 {
    display: inline-block;
    padding: 0 50px 8px;
    color: #000;
    text-align: center
}

.disturbance__quote {
    position: relative;
    display: inline-block;
    margin-bottom: 80px
}

.disturbance__points li, .papers h2 {
    margin-bottom: 30px
}

.disturbance__quote .left, .disturbance__quote .right {
    position: absolute;
    color: #ff6161;
    font-size: 50px
}

.disturbance__quote .left {
    left: -30px
}

.disturbance__quote .right {
    right: -30px;
    top: -35px
}

.disturbance__points {
    text-align: left
}

.contact, .featured-on, .papers, .papers h2, .platforms, .platforms h2, .try-now, .try-now h2 {
    text-align: center
}

.papers {
    padding: 20px 0 50px;
    color: #4d4d4d
}

.papers h2 {
    display: inline-block;
    padding: 0 50px 8px;
    color: #000
}

.papers__number {
    width: 60px;
    height: 60px;
    margin: 30px 0;
    background-color: #f8cd59;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 31px
}

.papers__text {
    margin: 0 30px;
    line-height: 1.8
}

.platforms {
    padding: 20px 0 80px;
    background-color: #00a4a2;
    color: #fff
}

.platforms h2 {
    display: inline-block;
    margin-bottom: 50px;
    padding: 0 50px 8px;
    color: #fff
}

.platforms__item, .try-now h2 {
    margin-bottom: 30px
}

.platforms__icon {
    height: 100px
}

.platforms__icon--flex-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.platforms__description {
    margin-top: 30px
}

.try-now {
    padding: 20px 0 80px;
    background-color: #ff6161;
    color: #fff
}

.try-now h2 {
    display: inline-block;
    padding: 0 50px 8px;
    color: #fff
}

.try-now__tease-text {
    margin-bottom: 50px
}

.try-now__download-alpha {
    margin-top: 30px;
    margin-bottom: 20px
}

.featured-on__item {
    display: inline-block;
    margin: 0 25px;
    line-height: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
    transition: all .3s ease
}

.featured-on__item:hover {
    -webkit-filter: none;
    filter: none
}

.ad-bezbolesti {
    background-color: #e6e7e9;
    text-align: center;
}

.ad-bezbolesti a {
    display: block;
    width: 100%;
    height: 100%;
}

.ad-bezbolesti__item {
    height: 130px;
    background: #e6e7e9 url('../static/img/bbch-big.jpg') no-repeat;
    background-position: center;
}

@media screen and (max-width: 1600px) {
    .ad-bezbolesti__item {
        height: 208px;
        background: #e6e7e9 url('../static/img/bbch-small.jpg') no-repeat;
        background-position: center;
    }
}

.ad-bezbolesti .container-fluid {
    padding: 0;
}

.contact {
    padding: 40px 0 50px;
    background-color: #222;
    color: #fff;
    font-size: 30px
}

.contact__icon, .contact__item {
    display: inline-block;
    line-height: 1.9
}

.contact__icon--medium, .contact__item--medium {
    font-size: 22px
}

.contact__icon {
    margin-right: 20px
}

.contact__icon--medium {
    margin-right: 10px
}

.contact__link {
    display: block;
    margin-top: 30px;
    color: #fff
}

.contact__link--facebook:hover {
    color: #3b5998
}

.contact__link--twitter:hover {
    color: #55acee
}

.contact .made-with-love {
    margin-top: 50px
}

.made-with-love {
    color: #00a4a2;
    font-size: 17px
}

.made-with-love__icon {
    color: #f8cd59
}

/*# sourceMappingURL=bundle.css.map */
